<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="tests" thread-count="1" verbose="1"
	configfailurepolicy="skip">

	<test name="eStoreRegression">
		<classes>
		
			<class name="com.estore.tests.TaxedItem" />
			<class name="com.estore.tests.DeliveryOnly" />
			<class name="com.estore.tests.VariableWeightItem" />
			<class name="com.estore.tests.ZeroInventory" />

		</classes>
	</test>

</suite>
