<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" parallel="tests" thread-count="1" verbose="1"
	configfailurepolicy="skip">

	<test name="eStoreRegression">
		<classes>
		
			<class name="com.estore.tests.ImpliedDiscount20Percent" />
			<class name="com.estore.tests.MinimumQuantityItem" />
			<class name ="com.estore.tests.ContingentDisocuntWithCoupon"/>
			


		</classes>
	</test>

</suite>
